*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Barlow Semi Condensed', sans-serif;
}

:root{
    --Dark-Text:hsl(229, 25%, 31%);
    --Score-Text:hsl(229, 64%, 46%);
    --Header-Outline:hsl(217, 16%, 45%);
}

#warning{
    display:none;
}

body{
    min-height:100vh;
    background-image:linear-gradient(180deg, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    color:white;
    overflow-x:hidden;
    transition:all 0.1s ease-in-out;
}

.flex{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.App{
    flex-direction:column;
    justify-content:flex-start;
    position:relative;
    min-height:100vh;
    width:100%;
}

#header{
    width:90vw;
    max-width:500px;
    margin:2rem auto 1.7rem auto;
    justify-content:space-between;
    border:2px solid var(--Header-Outline);
    border-radius:0.5rem;
    padding:1rem;
}

#header > img{
    height:70px;
}

#score{
    background-color:white;
    height:100%;
    color:#000;
    flex-direction:column;
    height:70px;
    width:80px;
    border-radius:0.5rem;
}

#score > p:nth-child(1){
    font-size:small;
    color:var(--Score-Text);
    letter-spacing:1px;
}

#score > p:nth-child(2){
    font-size:2rem;
    font-weight:700;
    color:var(--Dark-Text);
}

.option-container, .step2Container{
    position:relative;
    max-width:310px;
    height:200px;
    margin:6rem auto 0 auto;
}

.step2Container{
    max-width:450px;
}

.option-container{
    width:76vw;
    background-image:url('./images/bg-triangle.svg');
    background-repeat:no-repeat;
    background-size:cover;
}

.option-button{
    position:absolute;
    height:150px;
    width:150px;
    border-radius:200px;
    border:none;
    cursor:pointer;
}

.option-button > span{
    background-color:#FFF;
    height:110px;
    width:110px;
    border-radius:200px;
    box-shadow:inset 0px 15px 0px -8px lightgray;
}

#paper{
    background-image:linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    top:-27%;
    left:-10%;
    box-shadow:0px 11px 0px -4px hsl(230, 66%, 49%);
}

#scissor{
    background-image:linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    top:-27%;
    right:-10%;
    box-shadow:0px 11px 0px -4px hsl(39, 100%, 30%);
}

#rock{
    background-image:linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    bottom:-35%;
    left:25%;
    box-shadow:0px 11px 0px -4px hsl(349, 72%, 31%);
}

.step2Container{
    width:90vw;
    justify-content:space-between;
}

.step2Container #paper, .step2Container #scissor, .step2Container #rock{
    position:initial;
}

#user-choice, #computer-choice{
    flex-direction:column;
    gap:1.5rem;
    text-transform:uppercase;
    letter-spacing:1px;
    font-weight:600;
}

#rules{
    border:2px solid var(--Header-Outline);
    border-radius:0.5rem;
    background-color:transparent;
    color:#FFF;
    padding:0.5rem 2rem;
    letter-spacing:1px;
    text-transform:uppercase;
    font-weight:500;
    font-size:1.1rem;
    cursor:pointer;
    z-index:1;
    align-self:flex-end;
    margin:5rem 2rem 2rem 0;
}

#rules-container{
    position:absolute;
    top:15%;
    background-color:#FFF;
    padding:1rem 2rem;
    width:400px;
    max-width:100vw;
    border-radius:0.5rem;
    flex-direction:column;
}

#rules-header{
    width:100%;
    color:var(--Dark-Text);
    text-transform:uppercase;
    font-size:1.2rem;
    justify-content:space-between;
}

#close-btn{
    flex-direction:column;
    border-radius:100px;
    height:40px;
    width:40px;
    border:none;
    background-color:transparent;
    position:relative;
    cursor:pointer;
}

#close-btn .bar{
    width:25px;
    height:3px;
    background-color:lightgray;
    position:absolute;
}

#close-btn .bar:nth-child(1){
    transform:rotate(45deg);
}

#close-btn .bar:nth-child(2){
    transform:rotate(-45deg);
}

#rules-image{
    display:block;
    margin:2rem auto 0 auto;
}

#rules-image > img{
    max-width:100%;
}

@media only screen and (max-width: 400px){
    #header{
        padding:0.5rem;
        height:80px;
    }

    #header > *{
        height:96% !important;
    }

    #score{
        width:60px;
    }

    #rock{
        bottom:-25%;
    }

    #rules{
        margin:10rem auto 2rem auto;
    }

    #rules-container{
        min-height:100vh;
        display:block;
        top:0;
    }

    #rules-header{
        display:block !important;
        text-align:center;
        margin:10vh 0 15vh 0;
    }

    #close-btn{
        position:absolute;
        bottom:9vh;
        left:45vw;
    }
}

@media only screen and (max-width: 360px){
    .option-button{
        height:120px;
        width:120px;
    }

    .option-button > span{
        height:90px;
        width:90px;
    }

    #rock{
        left:28%;
    }
}

@media only screen and (max-width: 340px){
    #rock{
        bottom:-10%;
        left:26%;
    }

    #scissor{
        right:-10%;
    }
}

@media only screen and (max-width: 300px){
    .option-button{
        height:100px;
        width:100px;
    }

    .option-button > span{
        height:70px;
        width:70px;
    }

    .option-button img{
        height:60%;
    }
    
    #rock{
        left:30%;
        bottom:5%;
    }

    .option-container{
        background-size:contain;
    }
}

@media only screen and (max-width: 250px){
    #rock{
        bottom:20%;
        left:22%;
    }
}

@media only screen and (max-width: 230px){
    body > *{
        visibility:hidden;
    }

    #warning{
        visibility:visible;
        display:block;
        position:absolute;
        top:30%;
        margin:1rem;
    }
}