*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed';
}

:root {
    --Dark-Text: hsl(229, 25%, 31%);
    --Score-Text: hsl(229, 64%, 46%);
    --Header-Outline: hsl(217, 16%, 45%);

}

body {
    height: 100vh;
    background-image: linear-gradient(180deg, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    color: white;
    overflow: hidden;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header {
    width: 99vw;
    max-width: 500px;
    margin: 1rem auto 0 auto;
    justify-content: space-between;
    border: 2px solid var(--Header-Outline);
    border-radius: 0.5rem;
    padding: 1rem;
}

#header > img {
    height: 70px;
}

#score {
    background-color: white;
    height: 100%;
    color: #000;
    flex-direction: column;
    height: 70px;
    width: 80px;
    border-radius: 0.5rem;
}

#score > p:nth-child(1){
    font-size: small;
    color: var(--Score-Text);
    letter-spacing: 1px;
}

#score > p:nth-child(2){
    font-size: 2rem;
    font-weight: 700;
    color: var(--Dark-Text);
}

.option-container, .step2Container{
    position: relative;
    width: 99vw;
    max-width: 310px;
    height: 200px;
    margin: 6rem auto 0 auto;
}

.option-container{
    background-image: url('./images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.option-button {
    position: absolute;
    height: 110px;
    width: 110px;
    border-radius: 200px;
    border: none;
    cursor: pointer;
}

.option-button > span {
    background-color: #FFF;
    height: 80px;
    width: 80px;
    border-radius: 100px;
}

#paper-option {
    background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    top: -20%;
    left: -10%;
}

#scissor-option {
    background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    top: -20%;
    right: -10%;
}

#rock-option {
    background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    bottom: -35%;
    left: 34%;
}

.step2Container{
    justify-content:space-between;
}

.step2Container #paper-option, .step2Container #scissor-option, .step2Container #rock-option{
    position:initial;
}

#user-choice, #computer-choice{
    flex-direction:column;
    gap:1.5rem;
    text-transform:uppercase;
    letter-spacing:1px;
    font-weight:600;
}

@media only screen and (max-width: 400px){

    #header{
        padding:0.5rem;
        height:80px;
    }

    #header > *{
        height:96% !important;
    }

    #score{
        width:60px;
    }
}